$brandColor: #88E788;

body {
  font-family: system-ui, sans-serif;
  background: linear-gradient(to bottom,
    $brandColor,
    darken($brandColor, 0%)
  );
  color: #06402B;
  height: 50vh;
  margin: 0;
  display: grid;
  place-items: center;
}
h2{
font-family: Montserrat, sans-serif; 
    color:#1C542D

  }

h2{
font-family: Montserrat, sans-serif;
    color:#1C542D

  }

p{
  color:#1C542D
}
h3{
font-family: Montserrat, sans-serif;
    color:#06402B

  }
